.product1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  justify-content: flex-end;
  margin-right: 70px;
  object-fit: contain;
  width: 100%;
}
.product1 a {
  text-decoration: none;
}

.product1__image {
  max-height: 400px;
  object-fit: contain;
  width: 100%;
}

.product1__title {
  font-size: 14px;
  font-weight: 600;
  font-family: "Suisse Regular", sans-serif;
  color: #333333;
}

.product1__description {
  position: relative;
  top: -5px;
  font-size: 14px;
  color: #333333;
}

.product1__title:hover {
  text-decoration: underline;
}
